body {
  background: linear-gradient(45deg, hsl(240, 100%, 30%),hsl(0, 0%, 5%), hsl(0, 0%, 5%), hsl(240, 100%, 30%));
  color: rgb(0, 0, 153)
}

#app {
  width: 750px;
  height: 500px;
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

#k_canvas {
  border: 7px solid black;
}